header .container {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2em;
  font-size: 22px;
  color: inherit;
  font-family: monospace;
  margin-top: 50px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 530px;
  padding: 0;
}

header a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 100;
}

.h {
  font-weight: 100;
  color: grey;
}

section .container {
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

section .rasm1 {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  padding: 10px;
}

section .rasm11 {
  display: flex;
  position: relative;
  bottom: 110px;
  width: 300px;
}

section .rasm10 {
  width: 300px;
  display: flex;
  position: relative;
  top: 40px;
}

footer .container {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 35px;
  text-align: center;
}